{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe{% endblock %}

{% block body %}
<div class="custom-container">
    <h1 class='mb-4 mt-5'>Réinitialiser votre mot de passe :</h1>
    {{ form (formulaire) }}
</div>

{% endblock %}